*{
    
    padding: 0;
    margin: 0;
     font-family: "Montserrat", sans-serif;
}

.message p{
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    
    
}
.click-me {
    color: black;

}

.nav{
      background-color: black;
    height: 70px;
    display: flex;                
    align-items: center;
    gap: 25px;
}



.nav li a{
    color: white;
    text-decoration: none;
    opacity: 0.5;
    
    margin-right: 5px;
    
}
.nav li a:hover{
    opacity: 1;
    text-decoration: underline  rgb(207, 184, 32);;
    
}
.logo{
    margin-left: 20px;
    height: 70px;
    cursor: pointer;

    
}

.search-me {
    height: 40px;
    width: 150px;
    margin-left: 200px;
    background-color: black;
    border-color: white;
    border-width: -10px solid white;
    border-radius: 4px;
    color: white;
    opacity: 0.5;
}
.search-me:hover{
    opacity: 1;
}
 

.nav-icons {
  display: flex;
  gap: 18px;
  margin-left: 60px;
  
}

.nav-icons i {
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.sell {
  position: relative;  
  width: 100%;
}


.sell img {
  width: 100%;
  display: block;
}


.sell p {
  position: absolute;
  left: 70%;
  color: white;
}


.sell p:first-of-type { /* first-of-text means we can change the css of 1st para*/
  top: 30%;
  font-size: 36px;
  font-weight: bold;
}


.sell p:last-of-type { /* last-of-text means we can change the css of 2st para*/
  top: 40%;
  font-size: 16px;
  font-weight: normal;
}


.for-him {
  top: 50%;
  background: white;
  color: black;
  padding: 12px 24px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.for-her {
  
  background: white;
  color: black;
  padding: 12px 24px;
  border: none;
  font-weight: bold;
  cursor: pointer;

}

.for-him:first-of-type{
    position: absolute;
    top: 50%;
    left: 73%;
    opacity: 1;

}

.for-her:last-of-type{
    position: absolute;
    top: 50%;
    left: 82%;
    opacity: 1;
}

.for-him:hover{
    opacity: 0.8;
}

.for-her:hover{
    opacity: 0.8;
}


.section p{
    font-size: 25px;
    text-decoration-style: none;
    align-items: center;
    
    
}





